<h1>Add to Your Order Here</h1>

<div class="formWrapper">
  <form action="/api/carts" id="addToOrder" method="PUT">
    <input type="hidden" name="_method" value="PUT" />

    <div class="formError"></div>

    <div class="inputWrapper">
      <div class="inputLabel">Pizza Type</div>
      <select name="type" id="pizzaType">
      </select>
    </div>
    <div class="inputWrapper">
      <div class="inputLabel">Size</div>
      <select name="size" id="pizzaSize">
        <option value="sm">sm</option>
        <option value="med">med</option>
        <option value="lg">lg</option>
      </select>
    </div>
    <div class="inputWrapper">
      <div class="inputLabel">Quantity</div>
      <input name="qty" type="number" id="pizzaQty">
    </div>
    <input type="submit" class="cta primary" value="Add">
  </form>

  <h1>Current Shopping Cart</h1>

  <table id="customerDetails">
    <th>Name on Order
    </th>
    <th>Phone</th>
    <th>Address</th>
  </table>

  <table id="orderDetails">
    <th>Item</th>
    <th>Size</th>
    <th>Quantity</th>
  </table>

  <h1>Order Total</h1>
  <h2 id="orderTotal"></h2>
</div>