<h1>Shopping carts</h1>
<h2>Here are your shopping carts</h2>
<hr />

<div id="cartTables">

  <table id="shoppingCartTable">
    <tr>
      <th>Pizza Type</th>
      <th>Size</th>
      <th>Quantity</th>
    </tr>
    <tr id="noCartsMessage">
      <td colspan="5">You have no carts open, please create one!</td>
    </tr>

  </table>

  <table id="customerDetails">
    <th>Name on Order
    </th>
    <th>Phone</th>
    <th>Address</th>
  </table>
  <table id="orderDetails">
    <th>Subtotal
    </th>
    <th>Tax</th>
    <th>Total</th>
  </table>

</div>
<div id="createOrderCta" class="ctaWrapper">
  <a class="cta primary" href="carts/create">Place an Order</a>
</div>

<div id="addToOrderCta" class="ctaWrapper">
  <a class="cta primary" href="carts/add">Add to Order</a>
</div>
<div id="checkoutCta" class="ctaWrapper">
  <a class="cta primary" href="orders/view">Checkout</a>
</div>
<div id="cancelOrderCta" class="ctaWrapper">
  <a class="cta secondary" href="carts/delete">Cancel Order</a>
</div>