<h1>Pizza Menu</h1>
<h2>Here are the delicious Pizza's you can order</h2>
<hr />

<table class="menu" id="pizzaMenu">
  <tr>
    <th>Pizza Type</th>
    <th>Toppings</th>
    <th>Price SM</th>
    <th>Price MED</th>
    <th>Price LG</th>
  </tr>

</table>
<table class="menu" id="drinkMenu">
  <tr>
    <th>Drink Type</th>
    <th>Price</th>
  </tr>

</table>
<table class="menu" id="sidesMenu">
  <tr>
    <th>Side</th>
    <th>Price</th>
  </tr>

</table>

<div id="createCheckCTA" class="ctaWrapper">
  <a class="cta primary" href="carts/create">Place an Order</a>
</div>